<h1>My Lists</h1>

	<% @user_lists.each do |list| %>

	<div class="lists">

		<span id="list_name"><%=h list.name %></span>
		 <%= link_to "Edit", edit_list_path(list) %>
		<%= link_to 'Destroy',list, :confirm => 'Are you sure?', :method => :delete %>
		<h3>Tasks</h3>

		<ul id="tasks">

                <% list.tasks.each do |task| %>
			<li>
				<td> <%= task.name %> </td>
			</li>

		<% end %>

 		</ul><br />

	</div>
<% end %>
