<h1>Lists Watched</h1>

	<% @user_watches.each do |watch| %>

	<div class="lists">

		<span id="list_name"> <%= watch.list.name %> </span>
		<%= link_to 'Destroy', watch, :confirm => 'Are you sure ?', :method => :delete %>
		<h3>Tasks</h3>

			<ul id="tasks">

		        <% watch.list.tasks.each do |task| %>
				<li>
					<td> <%= task.name %> </td>
				</li>

			<% end %>

	 		</ul><br />

	</div>


	<%end%>
