
<h1><%=@list.name %></h1>

<div class="lists">
	<ul class="watch">
		<li>
			<%= link_to 'Watch', add_watch_path %>
		</li>
	</ul



	<h3>Tasks</h3>

	<ul id="tasks">

	<%@list.tasks.each do |task| %>
		<li>
			<%=task.name %> <br/>
		</li>
	<% end %>
</div>
